@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --branco: #ffffff;
    --preto: #000000;
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --dark-blue: hsl(240, 100%, 5%);
    --bg-grey-light: #494949;
}

body {
    font-family: 'Inter', sans-serif;
}


header {
   display: flex; 
   justify-content: end;
}

.logo {
    position: absolute;
    left: 1.5em;
    top: 1em;
}

#abreMenu{
    cursor: pointer; 
    padding-top: 2em;
    padding-right: 2em;
    position: absolute;
    
}


#menu {
    display: none;
    background: var(--branco);
    width: 60%;
    height: 100vh;
    margin-left: auto;
    position: absolute;
    right: 0; 
    z-index: 9999;
    background: var(--branco);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  

#close-menu {
    position: absolute;
    right: 2em;
    top: 2em;
}


.menu-items {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding-top: 10em;
    padding-left: 2em;   
}


.menu-items:last-child{
    padding-bottom: 2em;
}


.main-new {
    padding-top: 6em;
    display: flex;
    flex-direction: column;
}

.formas {
    width: 92%;
    margin: auto;
}

.main-new h1{
    font-weight: 800;
    color: var(--dark-blue);
    font-size: 2.5em;
    padding-inline: .4em;
    padding-top: 1em;
}

.main-new p {
    padding: 1.5em 1em;
    font-size: 1em;
    line-height: 28px;
}

.main-new a {
    color: var(--off-white);
    background: var(--soft-red);
    text-transform: uppercase;
    padding: 1em 1em;
    text-align: center;
    margin-left: 1em;
    margin-right: auto;
}

.news {
    margin: 3em 1em;
    background: var(--dark-blue);
    padding: 2em 1em;
}

.news h1 {
    color: var(--soft-orange);
    font-weight: 800;
    font-size: 2em;
    padding-bottom: 1em;
}

.list-item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

.border::after {
    content: "";
    border: 1px var(--dark-grayish-blue) solid;
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.list-item a {
    color: var(--branco);
    font-size: 1.3em;
}

.list-item h2 {
    color: var(--dark-grayish-blue);
}



