@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --branco: #ffffff;
    --preto: #000000;
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --dark-blue: hsl(240, 100%, 5%);
    --bg-grey-light: #494949;
}

body {
    font-family: 'Inter', sans-serif;
}


.botoes-menu{
    display: flex;
    justify-content: end;
}

#abreMenu{
    cursor: pointer; 
    padding-top: 2em;
    padding-right: 2em;
}


#menu {
    display: none;
    background: var(--branco);
    width: 40%;
    margin-left: auto;
    z-index: 100;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

#close-menu {
    position: absolute;
    right: 2em;
    top: 2em;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding-top: 10em;
    padding-left: 2em;
}

.menu-items:last-child{
    padding-bottom: 2em;
}

body {
    background: var(--bg-grey-light);
}




